@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

/* dashboard button */
.dashboard-button a {
  @apply btn btn-ghost;
}

.form-color {
  color: black;
}

/* react phone num input */
.PhoneInputInput {
  outline: none;
}
